:root {
  color-scheme: light dark;
}

* {
  -webkit-tap-highlight-color:rgb(0 0 0/0);
  -webkit-user-select:none;
  -webkit-touch-callout:none;
}

html {
  font: -apple-system-body;
}

body {
  width: 400px; /* for iPad Popover */
  margin: 0;
  padding: 15px 0;
  font-size: 94%;
  background-color: rgb(240 242 242);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 15px 15px;
  overflow: hidden;
  border-radius: 10px;
}

li {
  background-color: rgb(254 255 255);
  overflow: hidden;
}

ul > li > div {
  margin: 10px 20px;
  overflow-wrap: break-word;
  overflow: hidden;
}

ul.nav > li:not(:last-child) {
  margin-bottom: 1px;
}

ul.nav > li.selected,
ul#refreshPageInfo.selected > li {
  background-color: rgb(210 209 215);
}

ul#navPost > li {
  display: flex;
  align-items: center;
}

ul#navPost > li.visibilityOff {
  display: none;
}

ul#navPost > li.isEditMode {
  background-image: url(./images/icon-list-light.png);
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: auto 20px;
}

ul#navPost > li > div {
  align-items: center;
}

div.toggleVisibility {
  display: none;
  margin-right: 0;
}

li.isEditMode > div.toggleVisibility {
  display: block;
}

div.toggleVisibility > span {
  display: block;
  overflow: hidden;
  width: 18px;
  height: 18px;
  background-image: url(./images/icon-circle-minus.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  color: transparent;
  text-indent: -9999px;
}

div.toggleOn > span {
  background-image: url(./images/icon-circle-plus.png);
}

div.postLabel {
  display: flex;
  color: rgb(70 146 254);
}

li.isEditMode > div.postLabel {
  color: initial;
}

div#editActions, div#editDone {
  margin: 0 35px 15px;
  color: rgb(70 146 254);
}

div#editDone {
  display: none;
}

div#editActions.selected, div#editDone.selected {
  opacity: 0.5;
}

#refreshPageInfo {
  display: none;
}

.rtl {
  direction: rtl;
  text-align: right;
}

.rtl div.toggleVisibility {
  display: none;
  margin-right: 20px;
  margin-left: 0;
}

.rtl ul#navPost > li.isEditMode {
  background-position: left 20px center;
}

/* macOS */
#selectedText:hover {
  cursor: default;
}

ul.nav > li.hover {
  cursor: pointer;
  background-color: rgb(210 209 215);
}

li.isEditMode.hover {
  cursor: grab !important;
}

li.isEditMode > div.toggleVisibility:hover {
  cursor: pointer;
}

div#editActions:hover, div#editDone:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(35 35 33);
  }
  
  li {
    background-color: rgb(44 43 45);
  }
  
  ul.nav > li.selected {
    background-color: rgb(58 57 59);
  }
  
  ul#navPost > li.isEditMode {
    background-image: url(./images/icon-list-dark.png);
  }

  li.isEditMode > div.postLabel {
    color: white;
  }
  
  /* macOS */
  ul.nav > li.hover {
    background-color: rgb(58 57 59);
  }
  
  li.isEditMode.hover {
    cursor: grab !important;
    background-color: rgb(44 43 45) !important;
  }

}
