:root {
  color-scheme: light dark;
  --toggle-x: 16px;
}

.os-macos {
  --toggle-x: 12px;
}

* {
  -webkit-tap-highlight-color:rgb(0 0 0/0);
  -webkit-user-select:none;
  -webkit-touch-callout:none;
}

html {
  font: -apple-system-body;
  margin: 0;
  padding: 0;
}

body {
  width: 452px;
  margin: 0 0 15px;
  padding: 0;
}

body.os-ios {
  width: 100%;
}

body.os-ios, body.os-ipados {
  background-color: rgb(240 242 242);
}

.rtl {
  direction: rtl;
  text-align: right;
}

/* Edit Menu Nav Labels */
div.editNav {
  overflow: hidden;
  margin: 15px 30px 0;
}

div.editNav > div {
  color: rgb(70 146 254);
}

div.editNav > div.selected {
  opacity: 0.5;
}

div#settingsDoneBtn, div#editDone {
  display: none;
}

div.editNav > div:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* Settings */
label {
  white-space: nowrap;
  max-width: 25vw;
  overflow: hidden;
}

select {
  -webkit-appearance: none;
  font: inherit;
  color: inherit;
  padding: 0 0 0 0.5em;
  border: none;
  background-color: transparent;
  background-image: url(./images/chevron.svg);
  background-repeat: no-repeat;
  background-position: right 3px center;
  background-size: auto 16px;
  height: 24px;
  width: 64px;
  border-radius: 6px;
  margin: 0 5px;
  cursor: pointer;
}

select:focus {
  outline: none;
}

.os-macos select {
  background-image: url(./images/chevron-default.svg);
}

.os-macos select:hover {
  background-color: rgb(228 228 228);
}

.quotes-disabled > * {
  opacity: 0;
}

input[type='checkbox'] {
  display: none;
}

.toggle {
  display: inline-block;
  width: 48px;
  height: 22px;
  background: rgb(197 197 197);
  border-radius: 11px;
  position: relative;
  cursor: pointer;
  margin: 0 5px;
}

.os-macos .toggle {
  background: rgb(221 221 221);
  width: 36px;
  height: 16px;
}

.toggle::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 28px;
  height: 18px;
  background: #FFF;
  border-radius: 9px;
}

.os-macos .toggle::before {
  top: 1px;
  left: 1px;
  width: 22px;
  height: 14px;
  border-radius: 7px;
}

input[type='checkbox']:checked ~ .toggle {
  background: rgb(53 199 89);
}

.os-macos input[type='checkbox']:checked ~ .toggle {
  background: rgb(18 122 246);
}

input[type='checkbox']:checked ~ .toggle::before {
  transform: translateX(var(--toggle-x));
}

.os-macos input[type='checkbox']:checked ~ .toggle::before {
  transform: translateX(var(--toggle-x));
}

@keyframes bounce-on {
  0%   { transform: translateX(0px) scale(2); opacity: 1; }
  50%  { transform: translateX(var(--toggle-x)) scale(2); opacity: 0.5; }
  100% { transform: translateX(var(--toggle-x)) scale(1); opacity: 1; }
}

@keyframes bounce-off {
  0%   { transform: translateX(var(--toggle-x)) scale(2); opacity: 1; }
  50%  { transform: translateX(0px) scale(2);  opacity: 0.5; }
  100% { transform: translateX(0px) scale(1); opacity: 1; }
}

input[type='checkbox'].toggle-disabled ~ .toggle::before {
  animation: none !important;
}

input[type='checkbox']:checked ~ .toggle::before {
  animation: bounce-on 0.4s ease forwards;
}

input[type='checkbox']:not(:checked) ~ .toggle::before {
  animation: bounce-off 0.4s ease forwards;
}

/* Main */
ul {
  list-style: none;
  padding: 0;
  margin: 15px 15px 0;
  overflow: hidden;
  border-radius: 15px;
}

li {
  background-color: rgb(247 247 247);
  overflow: hidden;
}

ul > li > div {
  margin: 10px 15px;
  overflow-wrap: break-word;
}

li#settingsList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li#settingsList > div {
  display: flex;
  align-items: center;
}

li#settingsList > div > label::after {
  content: ':';
}

ul.nav > li:not(:last-child) {
  margin-bottom: 1px;
}

ul.nav > li.selected {
  background-color: rgb(210 209 215);
}

ul#navPost > li {
  display: flex;
  align-items: center;
  min-height: 38px;
}

ul#navPost > li.visibilityOff {
  display: none;
}

ul#navPost > li.isEditMode {
  background-image: url(./images/icon-list-light.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: auto 20px;
}

ul#navPost > li > div {
  align-items: center;
}

div.toggleVisibility {
  display: none;
  margin-right: 0;
}

li.isEditMode > div.toggleVisibility {
  display: block;
}

div.toggleVisibility > span {
  display: block;
  overflow: hidden;
  width: 18px;
  height: 18px;
  background-image: url(./images/icon-minus.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  color: transparent;
  text-indent: -9999px;
}

div.toggleOn > span {
  background-image: url(./images/icon-plus.svg);
}

div.postLabel {
  display: flex;
  color: rgb(70 146 254);
}

li.isEditMode > div.postLabel {
  color: initial;
}

.rtl {
  direction: rtl;
  text-align: right;
}

.rtl div.toggleVisibility {
  display: none;
  margin-right: 20px;
  margin-left: 0;
}

.rtl ul#navPost > li.isEditMode {
  background-position: left 20px center;
}

/* macOS */
#selectedText:hover {
  cursor: default;
}

ul.nav > li.hover {
  cursor: pointer;
  background-color: rgb(210 209 215);
}

li.isEditMode.hover {
  cursor: grab !important;
}

li.isEditMode > div.toggleVisibility:hover {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  body.os-ios, body.os-ipados {
    background-color: rgb(30 30 30);
  }

  li {
    background-color: rgb(37 37 37);
  }
  
  ul.nav > li.selected {
    background-color: rgb(58 57 59);
  }
  
  li.isEditMode > div.postLabel {
    color: white;
  }

  ul#navPost > li.isEditMode {
    background-image: url(./images/icon-list-dark.svg);
  }

  /* macOS */
  ul.nav > li.hover {
    background-color: rgb(58 57 59);
  }
  
  li.isEditMode.hover {
    cursor: grab !important;
    background-color: rgb(44 43 45) !important;
  }

  .os-macos select {
    background-image: url(./images/chevron-dark.svg);
  }

  .os-macos select:hover {
    background-color: rgb(53 53 53);
  }

  .toggle {
    background: rgb(89 89 94);
  }

  .os-macos .toggle {
    background: rgb(58 58 58);
  }

}

@supports (-apple-visual-effect: -apple-system-glass-material) {
  html {
    background: transparent;
    -apple-visual-effect: -apple-system-glass-material;
  }
  
  body {
    background: transparent;
  }

  @keyframes bounce-on {
    0%   { transform: translateX(0px) scale(2); background: transparent; -apple-visual-effect: -apple-system-glass-material;   }
    50%  { transform: translateX(var(--toggle-x)) scale(2); background: transparent; -apple-visual-effect: -apple-system-glass-material; }
    100% { transform: translateX(var(--toggle-x)) scale(1); }
  }

  @keyframes bounce-off {
    0%   { transform: translateX(var(--toggle-x)) scale(2); background: transparent; -apple-visual-effect: -apple-system-glass-material; }
    50%  { transform: translateX(0px) scale(2); background: transparent; -apple-visual-effect: -apple-system-glass-material; }
    100% { transform: translateX(0px) scale(1); }
  }

}
